/*
=============== 
Variables
===============
*/

:root {
  /* primary color*/
  --clr-primary-1: hsl(215, 51%, 70%);
  --clr-primary-2: hsl(178, 100%, 50%);

  /* neutral colors */
  --clr-bg: hsl(217, 54%, 11%);
  --clr-card-bg: hsl(216, 50%, 16%);
  --clr-line: hsl(215, 32%, 27%);
  --clr-white: hsl(0, 0%, 100%);

  --fs-900: 1.375rem;
  --fs-800: 1.125rem;
  --fs-700: 0.9375rem;

  --ff-outfit: "Outfit", sans-serif;

  --fw-light: 300;
  --fw-reg: 400;
  --fw-bold: 600;
}

/*
=============== 
Global Styles
===============
*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-outfit);
  background: var(--clr-bg);
  color: var(--clr-primary-1);
  line-height: 1.5;
  font-size: 1.125rem;
  min-height: 80vh;
  padding: 3.875rem 1.5rem;
  margin: 0 auto;
  width: 100%;
  max-width: 23.4375rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* global styles */
.container {
  width: 100%;
  background: var(--clr-card-bg);
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
  border-radius: 15px;
}

.card {
  margin: 3.875rem 0;
  padding: 1.5rem 1.1875rem 1.5rem 1.8125rem;
}

.card__img {
  width: 100%;
  height: 100%;
  margin-bottom: 1.5rem;
  border-radius: 8px;
}

.card__img:hover {
  cursor: pointer;
  opacity: 0.5;
  position: relative;
}

.img-container {
  mix-blend-mode: normal;
  background-color: hsla(178, 100%, 50%, 0.6);
  position: relative;
  width: 100%;
  height: 100%;

  background-image: url("images/icon-view.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
}

.card__body {
  width: 100%;
}

.card__title {
  font-size: var(--fs-900);
  font-weight: var(--fw-bold);
  line-height: 28px;
  color: var(--clr-white);
  margin-bottom: 0.75rem;
}

.card__title:hover,
.card__title:focus {
  cursor: pointer;
  color: var(--clr-primary-2);
}

.author > p:hover,
.author > p:focus {
  cursor: pointer;
  color: var(--clr-primary-2);
}

.card__description {
  width: 100%;
  max-width: 278px;
  font-size: var(--fs-800);
  font-weight: var(--fw-light);
  line-height: 26px;
  margin-bottom: 1rem;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.0625rem;
  font-size: 0.9375rem;
  line-height: 18.9px;
  position: relative;
}

.card__content::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 196%;
  left: 0;
  background: hsla(216, 32%, 27%, 1);
}

.accent-lgt {
  color: var(--clr-primary-2);
  font-weight: var(--fw-bold);
}

.d-flex {
  display: flex;
  align-items: center;
  gap: 6.48px;
}

.days {
  font-size: var(--fs-700);
  font-weight: var(--fw-reg);
}

.img-avatar {
  width: 33px;
  height: 33px;
  margin-right: 1rem;
  border-radius: 50%;
  border: 1px solid white;
}

.author {
  font-size: 0.9375rem;
  font-weight: var(--fw-reg);
}

.author p {
  color: var(--clr-white);
  line-height: 18.9px;
}

.accent-dk {
  color: var(--clr-primary-1);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 90rem) {
  body {
    width: 1440px;
    padding: 0;
  }

  .container {
    width: 100%;
    max-width: 350px;
  }

  .card {
    margin: 9.5rem 0;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
  }

  .img-container {
    width: 100%;
    max-width: 302px;
  }

  .card__body {
    max-width: 302px;
  }

  .card__title {
    margin-bottom: 1rem;
  }

  .card__description {
    max-width: 302px;
    margin-bottom: 1.5rem;
  }

  .card__content {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 20px;
  }

  .creator {
    padding-top: 1rem;
  }

  .author,
  .author p {
    font-size: 1rem;
    line-height: 20px;
  }
}
